{% load static %}
<html>
    <head>
        <title>Animalerie</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Bienvenue à l'animalerie!</a></h1>
        </div>
        <h4 class="rajouter"><a href="http://127.0.0.1:8000/admin/" title="Lien vers la page admin">Ajouter un nouvel animal ou équipement</a></h4>

        <CENTER><h2 class="titre1">Animaux</h2></CENTER> <br>
        <div id="conteneur">   
            {% for animal in animaux %}
            <div class="element"><section>

                <p> <img src= {{animal.photo}} alt="Image_animal" style="width:250px;height:250px;"> </p>
                    <h2 class="nom_objet"><a href="">{{ animal}}</a></h2> 
                <p>Etat actuel: {{ animal.etat}}</p>
                <p>Lieu actuel: {{ animal.lieu}}</p>
                <h4 class="modifier"><a href="http://127.0.0.1:8000/admin/" title="Détails">Plus de détails</a></h4>
            </section> <br>
            </div>
            {% endfor %}
            </div>
            <br>
        <CENTER><h2 class="titre2">Equipement</h2></CENTER> <br>
        <div id="conteneur"> 
            {% for equipement in equipements %}
            <div class="element"><section>
                <p> <img src= {{equipement.photo}} alt="Image_equipement" style="width:250px;height:250px;">
                <p><h2 class="nom_objet"><a href="">{{ equipement}}</a></h2>  </p> 
                <p>Disponibilité de l'équipement: {{ equipement.disponibilite}}</p>
                <h4 class="modifier"><a href="http://127.0.0.1:8000/admin/" title="Détails">Plus de détails</a></h4>
            </section> <br>
            </div>

            {% endfor %}
            </div>
        
       

    </body>
</html>